.container {
    background-color: rgb(218, 212, 212);

}
nav {
    background-color: darksalmon;
}
.headersColor {
    color:brown;
    border-bottom: darkred;
}

.mysImage {
    border-radius: 8px;
    max-width: 60%;
    height: auto;
    display: inline;
    margin: 0%;
}

.mysText {
    float: left   !important;
    
}

.mysPics {
    border-radius: 8px;
    max-width: 300px;
    /* max-height: 300px; */
    height: auto;
    display: center;
    margin: 0%;
    padding-bottom: 10px;
    padding-right: 3px;
    float:left;

}

.sectionsFormat {
    position: relative;
    padding-bottom: 5%;
    padding-top: 5%;
    
}
  
footer {
    text-align: center;
    padding: 3px;
    background-color: cadetblue;
    color: salmon;
}

.bgrcolor {
    background-color: beige;
}